<div>
    <form>
        <h2>Edit Post</h2>

        <div>
            <label for="post-title">Title</label>
            <input type="text" name="post-title" id="post-title">
        </div>
        <div>
            <label>Text</label>
            <input type="text" name="post-text" id="post-text">
        </div>

        <button class="btn" type="submit">Update</button>
        <button class="btn" type="submit">Delete</button>
    </form>
</div>




<script src="/js/edit.js"></script>