<div class="container">
    <form>
        <h2>Signup</h2>
        <div>
            <label for="username-signup">Username</label>
            <input type="text" id="username-signup" name="username-signup">
        </div>

        <div>
            <label for="password-signup"></label>
            <input type="password" name="password-signup" id="password-signup">
        </div>

        <button type="submit" class="btn">Signup</button>
    </form>

    <a href="/login">Already have an account?</a>
</div>





<script src="/js/signup.js"></script>